*,
*::before,
*::after{
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffdddd;
}

body{
  padding-bottom: 56px;
}

.title {
  font-weight: bold;
  background-color: #ff7777;
  color: white;
  margin-bottom: 16px;
}

.content {
  margin-left: 50px;
  margin-bottom: 16px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, #ff777744, #f9dd9499, #8cfccfee);  
  height : 40px;
  color: white;
  font-size: 24;
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-family: cursive, sans-serif;
  text-shadow: 1px 1px 2px indianred;
}

h1 {
  text-align: center;
  padding: 16px;
  font-size: 32px;
  margin-top: 0px;
}

h2 {
  font-size: 26px;
  padding: 8px 50px;
  margin-top: 16px;
}

ul {
  display: block;
  padding: 0 20px;
}

ul li {
  display: block;
  position: relative;
}

ul li:not(:last-child) {
  margin-bottom: 16px;
}

ul li:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -20px;
  margin-top: -0.9em;
  background: linear-gradient(45deg, #f64444, #f9dd94);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

ol {
  display: block;
  padding: 0 20px;
}

ol li {
  position: relative;
}

ol li:not(:last-child) {
  margin-bottom: 16px;
}
